.Container_ContactForm {
  padding-left: 4%;
}

.Form {
  width: 20%;
}

.Border_ContactForm {
  border: solid 2px black;
  padding: 10px 0 10px 10px;
}

.Label_ContactForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.imput_ContactForm {
  width: 50%;
}

button {
  width: 42%;
}
